.doneTask_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

 .doneTask_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
em {
    font-size: 16px;
}


.task_title {
    font-weight: bold;
}

.done_button {
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    background-color: transparent;
    
}


span {
    text-align: center;
}

