li {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 120px 100px;
    grid-template-rows: 60px;
        
}

.button_container {
    margin: 0 0 0 auto;
    
}
.task_button {
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    }

.task_button:hover {
    background-color: white;
    font-size: 19px;
}

