.task_item {
    display: flex;
    }


.button_container {
    margin: 0 0 0 auto;
    
}
.task_button {
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: inline;
    background-color: transparent;
    padding: 0;
    margin-left: 5px;
    }

