li {
    list-style: none;
}

.task_button {
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
}

.task_button:hover {
    background-color: white;
    font-size: 17px;
}

.task_date {
    margin: 0 10px 0 10px;
}