.todo_list {
    background-color: rgba(234, 240, 248, 0.7);
    border-radius: 10px;
    padding-bottom: 12px;
      
}

.todo_header {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px
}

.todo_menu {
   display: none;
   
}
ul {
    padding: 25px;
    list-style-type: none;

}

p {
    text-align: center; 

}

